/*  your css code here. If applicable */
.blog-card {
            display: inline-block;
            width: 300px;
            margin: 10px;
            text-align: center;
        }
        .blog-image {
            height: 200px;
        }
        .blog-heading {
            margin-top: 10px;
            cursor: pointer;
        }
        .blog-description {
            margin-top: 5px;
            cursor: pointer;
        }